
.container{
    width: 100%;
    height:100vh;
    background-color:#bbc3c5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.display{
    border: 0;
    width: 200px;
    height: 60px;
    background: transparent;
    font-size: 20;
    color: azure;
}

.calculator{
    background-color: rgb(31, 59, 59);
    border-radius: 10px;

}
.button{
 border: 0;
 width: 40px;
 height: 40px;
 border-radius: 10px;
 box-shadow: -8px -8px 15px rgba(255, 255,255,0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
 background: transparent;
 font-size: 20;
 color: azure;
 margin: 5px;
 
}

.equal{
    border: 0;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background: transparent;
    font-size: 20;
    color: azure;
}
